@model DTO.PaginationResponseDto<EmployeeViewModel>

@{
    ViewData["Title"] = "Manage Employees";
}

<link href="css/employee-index.css" rel="stylesheet" asp-append-version="true" />

<div class="col-md-12">
    <div class="row" style="padding:10px;">
        <div class="col-md-8">
            <button type="button" class="btn btn-dark" onclick="addEmployee()">Add</button>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-outline">
                        <input type="text" id="searchEmployee" class="form-control" placeholder="Search" aria-label="Search" />
                    </div>
                </div>
                <div class="col-md-1">
                    <img style="cursor:pointer" src="~/icons//search.png" onclick="GetEmployeesList()" />
                </div>
            </div>
        </div>
        <div class="col-md-12 showingInfo">
            <div class="col-md-10"></div>
            <div class="col-md-2 showingInfoLabel">
                <label class="showingInfoRecord">Showing <span id="startValue_Employee">0</span> to  <span id="endValue_Employee">0</span> of  <span id="totalRecord_Employee">0</span></label>
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead class="table-secondary">
                <tr>
                <tr>
                    <th scope="col">
                        Id
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Dept
                    </th>
                    <th scope="col">
                        Email
                    </th>
                    <th scope="col">
                        DOB
                    </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="employeeRecordBody">
                <!--via ajax-->
            </tbody>
        </table>
    </div>
    <div class="row col-md-12" id="pagination_Employee">
        <div class="custom-pagination">
            <!--via ajax-->
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/employee.js" asp-append-version="true"></script>
}